@{
  Layout = "_Layout";
}
@model HairSalon.Models.Stylist

<div class="jumbotron">
  <h1>Edit Stylist</h1>
    <h3>@Html.DisplayFor(model => model.Name)</h3>
</div>
<div class="contents">
  @using (Html.BeginForm())
  {
    @Html.HiddenFor(model => model.StylistId)
    <div class="row">
      <div class="label">
        @Html.LabelFor(model => model.Name)
        @Html.EditorFor(model => model.Name)
      </div>
      <div class="label">
        @Html.LabelFor(model => model.Specialty)
        @Html.EditorFor(model => model.Specialty)
      </div>
      <input type="submit" value="Save" />
    </div>
  }
</div>

<div class="buttons">
  <btn>@Html.ActionLink("Back to Stylists", "Index")</btn>
</div>